body {
    font-family: system-ui, Segoe UI, Roboto, Arial, sans-serif;
    max-width: 900px;
    margin: 0 auto;
    padding: 1rem
}

header h1 {
    margin: 0
}

.slider img {
    max-width: 100%;
    height: auto;
    border-radius: 8px
}